---
layout: default
classes: wide
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% if page.url != "/" and site.breadcrumbs %}
      {% include breadcrumbs.html %}
    {% endif %}
    <div id="wholetoc">
      <div class="memo" hidden data-type="toc"></div>
      <h1 id="wholetoc__title">Table Of Contents</h1>
      <div class="wholetoc__opt-list">
        <div class="wholetoc__opt-row">
          <div class="wholetoc_opt-set">
            <span class="view-style-msg">보기 스타일:</span>
            <div class="view-style">
              <label class="view-style-opt"><input type="radio" name="view-style" value="list" checked></input><img src="/assets/images/icon/view_list.ico"></img></label>
              <label class="view-style-opt"><input type="radio" name="view-style" value="card"></input><img src="/assets/images/icon/view_card.ico"></img></label>
            </div>
          </div>
        </div>
      </div>
      {{ content }}
    </div>
  </div>
</div>
